@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  font-family: "Ubuntu", sans-serif;
}

#root {
  height: 100vh;
  max-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: aqua; */
  background-image: url(../assets/images/2150914013.webp);
}
