.topbar-container {
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #000000;
    padding-block: 0.25em;
    max-height: 21.6px;
}

.topbar-container > * > h2 {
    color: #dddddd;
    font-size: 0.75rem;
    font-weight: 500;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}